root { 
    
}

#root {
     -fx-background-color: #2C3E50;
}


#username, #password {
	-fx-fill: #00000f;
}

#button {
    -fx-border-color:white;
}

#labelLogin {

-fx-border-color: white;
}

#button:hover {
	-fx-background-color: #34495e;
	-fx-text-fill: white;
}
